	
@media screen and (min-width:961px) and (max-width: 1170px) {
	

	
	
	
	.units-container{
		width: 910px !important;
	}
	.clikalka{
		display: block;
		width:30px;
		height: 70px;
		position: absolute;
		right: 10px;
		position: fixed;
		z-index: 1000;
		top:30px;
		}
	.mobile{
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
	margin-right:0px;
	background: url(/assets/images/mobile.png) center center no-repeat;
	cursor: pointer;
	}
	.pc{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
	margin-right:0px;
	background: url(/assets/images/monitor.png) center center no-repeat;
	cursor: pointer;
	}
	
	
	
	
	
	header {
		height: 440px !important;
		background: url(/assets/images/bg-top.png) bottom left repeat-x, url(/assets/images/patterheader.png);
	}
	
	
	
	header .units-row-end{
		height: 226px;
	}
	
	
	
	header .header-shell{
		margin-top: 180px;
		height: 31px;
		width: 900px;
		background: url(/assets/images/karniz-960.png) top center no-repeat;
	}
	
	
	
	header .header-contacts{
		background: none;
		padding: 0px;
		width: 240px;
		margin-left: 20px;
	}
	
	
	
	header .unit-20 span{
		margin-left: 20px;
		}
		#flash-logo{
			margin-left: 20px;
	background:url(/assets/images/logo.png) top center no-repeat;
	}
	#flash-header{
	display:block !important;
			width: 480px;
		height: 180px;
	background:url(/assets/images/okno.png) top center no-repeat;
	}
	
	#flash-header div{
		display: none;
	}
	#flash-logo div{
		display: none;
	}
	
	
	footer{
		display: none !important;
	}
	
	
	
	.units-split .unit-60{
		position: relative;
	}
	
	
	.galary {
		bottom: -60px;
		margin-left: -340px;
	}
	
	
	#slider{
		width: 920px;
	}
	
	
	.bx-wrapper{
		max-width: 874px !important;
	}
	
	
	
	
	#slider ul li{
		width: 208px !important;
		margin-right: 12px !important;
	}
	
	
	
	#slider ul li a{
		width: 208px;
		height: 158px;
	}
	
	
	#slider ul li a img{
		width: 200px;
		height: 150px;
	}
	
	
	
	.units-split .unit-20{
		width: 340px;
	}
	
	
	header .header-books, header .header-flowers, .header-order{
		display: none;
	}
	
	
	
	
	
	
	header .header-contacts p{
		font-size:22px;
		line-height: 32px;
	}
	
	
	header .header-contacts p:nth-child(2){
		position:absolute;
		right: 41%;
	}
	
	
	header .header-contacts p:nth-child(3){
		position:absolute;
		right: 16%;
	}
	
	
	
	.top-menu{
		display: block;
		position: absolute;
		width: 886px;
		right: 0px;
		top: 496px;
		z-index: 20000;
		
	}
	
	
	.top-menu ul{
		width: 886px;
		margin: 0 auto;
	}
	
	
	
	
	.top-menu ul li a {
		padding: 0px;
		margin: 0px;
		display: block;
		width:191px;
		height: 69px;
		font-family: Georgia;
		font-size: 24px;
		text-align:center;
		color:#007bb1;
		text-shadow: 1px 1px 1px #fff;
		line-height: 69px;
		background: url(/assets/images/m-li-960.png) top center no-repeat;
	}
	
	
	
	
	.top-menu ul li:nth-child(3),.top-menu ul li:nth-child(4){
		display: none;
	}
	
	
	.top-menu ul li{
		margin: 0px;
		margin-right: 40px;
	}
	
	
	.top-menu ul li:last-child{
		margin: 0px;
	}
	
	
	
	.top-menu ul li ul{
		
	}
	
	
	
	h2{
		
		font-family: Georgia;
		font-size: 24px;
		
		line-height:35px;
		color: #007bb1;
	}
	
	
	.site-content{
		margin-top: 150px;
		padding: 15px 35px 35px 35px;
		margin-bottom: 15px;
		
	}
	
	
	.site-content p{
		font-family: Georgia;
		font-size: 24px;
		text-align: justify;
		color:#000;
		line-height:35px;
	}
	
	
	.verh{
		display: none;
	}
	
	
	ul.level:before{
		display: block;
		content: '';
		position: absolute;
		width: 61px;
		height: 30px;
		background: url(/assets/images/arr-up2.png) top center no-repeat;
		margin-top: -32px;
		margin-left:66px;
	}
	
	
	.top-menu ul.level {
		width: 620px;
		background: #E1EBED;
		margin-top: 50px;
		margin-left: 85px;
	}
	
	
	
	ul.level li{
		float: left !important;
		display: block !important;
		width:auto !important;
		height: 40px;
		margin: 0px !important;
		padding-top: 15px;
		
	}
	
	
	ul.level li a {
		padding: 0 15px 0 10px;
		border-right: 1px solid #01305F;
		background: none;
		margin:0;
		width: auto;
		height: auto;
		text-align: left;
		text-decoration: none;
		letter-spacing: 0px;
		font-family: Georgia;
		font-size: 18px;		
		line-height:18px;
		color: #01305F;
		text-shadow: 1px 1px 1px #fff;
	}
	
	
	ul.level li:last-child a{
		border-right: none;
	}
	
	
	
	
	.body-part-push .unit-20{
		display: none;
	}
	
	
	.body-part-push .unit-60{
		width: 900px;
	}
	
	
	.bottom-menu{
		display: none;
	}
	
	
	.send-mess{
		background: url(/assets/images/patterheader.png);
		display: block;
		width: 620px;
		height: 0px;
		/*height: 228px; */
		position: fixed;
		overflow:hidden;
		right:10%;
		bottom:0px;
		z-index: 20000;
	}
	.send-mess .left{
		width: 220px;
		display: block;
		float: left;
		margin-left: 50px;
		padding-top: 30px;
	}
	.send-mess .left a{
		display: block;
		clear: both;
		color: #4cc6c9;
		font-family: Georgia;
		font-size: 24px;		
		line-height:44px;
		text-decoration: underline;
	}
	
	.send-mess .left span.s-t{
		color: #e8dcc2;
		display: block;
		clear: both;
		font-family: Georgia;
		font-size: 24px;		
		line-height:44px;
		
	}
	.send-mess .left p{
		color: #f5f18c;
		display: block;
		clear: both;
		font-family: Georgia;
		font-size: 24px;		
		line-height:44px;
		margin: 0;
	}
	.send-mess .right{
		width: 220px;
		display: block;
		float: right;
		margin-right: 50px;
		padding-top: 30px;
	}
	.send-mess .right span.s-t{
		color: #e8dcc2;
		display: block;
		clear: both;
		font-family: Georgia;
		font-size: 24px;		
		line-height:44px;
		text-align: right;
	}
	.send-mess .right p{
		color: #f5f18c;
		display: block;
		clear: both;
		font-family: Georgia;
		font-size: 24px;		
		line-height:44px;
		text-align: right;
		margin: 0;
	}
	

	.send-but{
		right:10%;
		bottom:0;
		position:fixed;
		z-index: 20000;
		float: right;
		width:292px;
		height: 70px;
		background: url(/assets/images/send-mess.png) top center no-repeat;
	cursor: pointer;
	}
	
	.forms-columnar label{
		font-size:14px;
	}
	
	select.width-100, select.unit-100{
		width: 300px;
	}
	
	.bot-cont{
		display: block;
		font-family: Georgia;
		font-size: 18px;
		text-align: center;
		font-weight: bold;
		color: #007bb1;
		line-height:29px;
		  margin-bottom: 30px;
	}
	
	
	.estate-wrapper .estate-title, .estate-wrapper .estate-price{
		width: 620px !important;
	}
	
	
	
	.section-title{
		line-height: 40px;
		font-family: Georgia;
		font-size: 24px;
		font-weight: bold;
	}
	
	
	.estate-wrapper .estate-photos li{
		margin: 0px 22px 22px 0;
	}
	
	
	.related-estate .related-item .title, .related-estate .related-item .price{
		width: 680px !important;
	}
	
.visitor-settings form > ul > li{
		  height: 40px;
		}
	select{
	  outline: none;
  -webkit-appearance: none;
		  height: 30px;
  border-radius: 10px;
  background: #fff url(/assets/images/sell-bg-sm.png) right center no-repeat;
min-width: 100px;
  }
	
}




@media screen and (min-width:320px) and (max-width: 960px) {
	.units-container{
		width: 600px !important;
	}
	
	
	#flash-logo{
		margin-left: 20px;
	background:url(/assets/images/logo.png) top center no-repeat;
	
	}
	
	
	
	header {
		height: 396px !important;
		background: url(/assets/images/bg-top.png) bottom left repeat-x, url(/assets/images/patterheader.png);
	}
	
	
	
	header .units-row-end{
		height: 180px;
	}
	
	
	
	header .header-shell{
		margin-top: 180px;
		height: 31px;
		width: 594px;
		background: url(/assets/images/karniz-640.png) top center no-repeat;
	}
	
	
	
	header .header-contacts{
		position: absolute;
		background: none;
		padding: 0px;
		width: 240px;
		margin-left: 20px;
		right: 20px;
		top: 40px;
	}
	
	
	
	header .unit-20 span{
		margin-left: 20px;
	}
	header .unit-20 p span{
		margin-left: 0px;
		}
	
	
	
	#flash-header{
		display: none;
	}
	#flash-logo div{
		display: none;
	}
	
	
	
	
	footer{
		display: none !important;
	}
	
	.galary{
		width: 600px;
		margin-left: 0px;
		bottom: -55px;
	}
	
	.units-split .unit-60{
		position: relative;
	}
	
	
	#slider{
		width: 578px;
	}
	
	
	.bx-wrapper{
		max-width: 874px !important;
	}
	
	
	
	
	#slider ul li{
		width: 188px !important;
		margin-right: 8px !important;
	}
	
	
	
	#slider ul li a{
		width: 188px;
		height: 143px;
	}
	
	
	#slider ul li a img{
		width: 180px;
		height: 135px;
	}
	
	
	
	.units-split .unit-20{
		width: 280px;
	}
	
	
	header .header-books, header .header-flowers, .header-order{
		display: none;
	}
	
	
	
	
	
	header .header-contacts p{
		right: 10px;
		font-size:22px;
		line-height: 32px;
	}
	
	
	
	
	
	
	
	.top-menu{
		display: block;
		position: absolute;
		width: 578px;
		left: 0px;
		top: 290px;
		z-index: 20000;
		
	}
	
	
	.top-menu ul{
		width: 578px;
		margin: 0 auto;
	}
	
	
	
	
	.top-menu ul li a {
		padding: 0px;
		margin: 0px;
		display: block;
		width:279px;
		height: 69px;
		font-family: Georgia;
		font-size: 24px;
		text-align:center;
		color:#007bb1;
		text-shadow: 1px 1px 1px #fff;
		line-height: 69px;
		background: url(/assets/images/m-li-640.png) top center no-repeat;
	}
	
	
	
	
	.top-menu ul li:nth-child(3),.top-menu ul li:nth-child(4){
		display: none;
	}
	
	
	.top-menu ul li{
		margin: 0px;
		margin-right: 14px;
		margin-bottom: 18px;
	}
	
	
	.top-menu ul li:nth-child(2), .top-menu ul li:last-child{
		margin: 0px;
	}
	
	
	
	h2{
		
		font-family: Georgia;
		font-size: 24px;
		
		line-height:35px;
		color: #007bb1;
	}
	
	
	.site-content{
		margin-top: 220px;
		padding: 15px 35px 35px 35px;
		margin-bottom: 15px;
		
	}
	
	
	.site-content p{
		font-family: Georgia;
		font-size: 24px;
		text-align: justify;
		color:#000;
		line-height:35px;
	}
	
	
	.verh{
		display: none;
	}
	
	
	ul.level:before{
		display: block;
		content: '';
		position: absolute;
		width: 61px;
		height: 30px;
		background: url(/assets/images/arr-up2.png) top center no-repeat;
		margin-top: -32px;
		margin-left:100px;
	}
.forms-inline-list{
	width: 340px;
  float: right;
	}
	
	table{
		font-size: 13px;
		}
	
	.top-menu ul.level {
		width: 562px;
		background: #E1EBED;
		margin-top: 50px;
		margin-left: 85px;
	}
	
	.top-menu ul li:nth-child(2) ul.level{
		  margin-left: -208px;
		}
		
		.top-menu ul li:nth-child(2) ul.level:before{
			  right: 115px;
			}
	
	ul.level li{
		float: left !important;
		display: block !important;
		width:auto !important;
		height: 40px;
		margin: 0px !important;
		padding-top: 15px;
		
	}
	
	
	ul.level li a {
		padding: 0 15px 0 10px;
		border-right: 1px solid #01305F;
		background: none;
		margin:0;
		width: auto;
		height: auto;
		text-align: left;
		text-decoration: none;
		letter-spacing: 0px;
		font-family: Georgia;
		font-size: 18px;		
		line-height:18px;
		color: #01305F;
		text-shadow: 1px 1px 1px #fff;
	}
	
	
	ul.level li:last-child a{
		border-right: none;
	}
	
	
	
	
	.body-part-push .unit-20{
		display: none;
	}
	
	
	.body-part-push .unit-60{
		width: 588px;
	}
	
	
	.bottom-menu{
		display: none;
	}
	
	
	.send-mess{
		background: url(/assets/images/patterheader.png);
		display: block;
		width: 620px;
		height: 0px;
		/*height: 228px; */
		position: fixed;
		overflow:hidden;
		right:10%;
		bottom:0px;
		z-index: 20000;
	}
	.send-mess .left{
		width: 220px;
		display: block;
		float: left;
		margin-left: 50px;
		padding-top: 30px;
	}
	.send-mess .left a{
		display: block;
		clear: both;
		color: #4cc6c9;
		font-family: Georgia;
		font-size: 24px;		
		line-height:44px;
		text-decoration: underline;
	}
	
	.send-mess .left span.s-t{
		color: #e8dcc2;
		display: block;
		clear: both;
		font-family: Georgia;
		font-size: 24px;		
		line-height:44px;
		
	}
	.send-mess .left p{
		color: #f5f18c;
		display: block;
		clear: both;
		font-family: Georgia;
		font-size: 24px;		
		line-height:44px;
		margin: 0;
	}
	.send-mess .right{
		width: 220px;
		display: block;
		float: right;
		margin-right: 50px;
		padding-top: 30px;
	}
	.send-mess .right span.s-t{
		color: #e8dcc2;
		display: block;
		clear: both;
		font-family: Georgia;
		font-size: 24px;		
		line-height:44px;
		text-align: right;
	}
	.send-mess .right p{
		color: #f5f18c;
		display: block;
		clear: both;
		font-family: Georgia;
		font-size: 24px;		
		line-height:44px;
		text-align: right;
		margin: 0;
	}
	
	
	.send-but{
		right:10%;
		bottom:0px;
		position:fixed;
		z-index: 20000;
		float: right;
		width:292px;
		height: 70px;
		background: url(/assets/images/send-mess.png) top center no-repeat;
		cursor: pointer;
	}
	
	.forms-columnar label{
		font-size:14px;
	}
	
	select.width-100, select.unit-100{
		width: 300px;
	}
	
	.bot-cont{
		display: block;
		font-family: Georgia;
		font-size: 18px;
		text-align: center;
		font-weight: bold;
		color: #007bb1;
		line-height:29px;
		  margin-bottom: 30px;
	}
	
	
	.estate-wrapper .estate-title, .estate-wrapper .estate-price{
		width: 320px !important;
	}
	
	
	
	.section-title{
		line-height: 40px;
		font-family: Georgia;
		font-size: 24px;
		font-weight: bold;
	}
	
	
	.estate-wrapper .estate-photos li{
		margin: 0px 22px 22px 0;
	}
	
	.estate-list .estate-item .name h3 a{
		/* color:#e85700;*/
	}
	.estate-list .estate-item .information{
		width: 180px;
		overflow: hidden;
		height: 122px;
		font-size: 14px;
		line-height: 14px;
	}
	.header-contacts p span{
		margin: 0;
		}
		
	.units-split .unit-30{
		clear: both;
		width: 210px !important;
	}
	
	
	.related-estate .related-item .title, .related-estate .related-item .price{
		width: 380px !important;
	}
	.visitor-settings form > ul > li{
		  height: 40px;
		}
	select{
	  outline: none;
  -webkit-appearance: none;
		  height: 30px;
  border-radius: 10px;
  background: #fff url(/assets/images/sell-bg-sm.png) right center no-repeat;
min-width: 100px;
  }
  
  .clikalka{
		display: block;
		width:30px;
		height: 70px;
		position: absolute;
		right: 10px;
		position: fixed;
		z-index: 1000;
		top:30px;
		}
	.mobile{
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
	margin-right:0px;
	background: url(/assets/images/mobile.png) center center no-repeat;
	cursor: pointer;
	}
	.pc{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
	margin-right:0px;
	background: url(/assets/images/monitor.png) center center no-repeat;
	cursor: pointer;
	}
	

}